.comment-round {
  margin-left: 100px;
}

ul.votelinks, ul.votelinks li {
  text-align:center;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  font-size: 1.2em;
}

ul.votelinks .disabled {
  color: #c0c0c0;
}

  div.entry {
    text-align: left;
    margin: 0px;
    padding: 0px;
    border: 3px solid blue;
    text-align: left;
    height: 100px;

}

  small.titlelinks li {
    list-style: none;
    display: inline-block;
    text-align: left;
    margin: 0px;
    padding: 0px;

  }
